<%= form_for ([@evaluation.employee, @evaluation]) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>
      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :interview_time, "Interview Date" %><br />
    <%= date_select(:evaluation, :interview_time, start_year:2000, use_month_numbers: true ) %>
  </div>
  <div class="form-group">
    <%= f.label :interviewer %><br />
    <%= f.text_field :interviewer %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :comm_skill, "Communication Skill" %><br />
    <%= f.text_field :comm_skill %>
  </div>
  <div class="field">
    <%= f.label :tech_skill, "Technical Skill" %><br />
    <%= f.text_field :tech_skill %>
  </div>
  <div class="field">
    <%= f.label :passion %><br />
    <%= f.text_area :passion %>
  </div>
  <div class="field">
    <%= f.label :potential %><br />
    <%= f.text_field :potential %>
  </div>
  <div class="field">
    <%= f.label :fit %><br />
    <%= f.text_field :fit %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>